@model MyReads.Models.Books

@{
    ViewBag.Title = "Delete";
}
<h3 class="alert alert-warning" id="deleteHeading">Are you sure you want to delete this?</h3>
<div class="container card" id="deleteBookConfirm">
    <h5 class="card-title">@Html.DisplayFor(model => model.Book_Title)</h5>
    <hr />
    <span class="col-md-2">
        <img src="@Model.Book_ImageLink" alt="no image" />
    </span>
    <dl class="dl-horizontal col-md-10">
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Author)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Description)
        </dd>

        <dt>
            Pages
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Pages)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Category_Genre)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions row">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
