@model MyReads.Models.Books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_ImageLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_ImageLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_InfoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_InfoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.Category_Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Category_Genre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Book_ID }) |
    @Html.ActionLink("Back to List", "Index", "Books", new { userName = User.Identity.Name }, new { @class = "" })
</p>
