@model MyReads.Models.Books

@{
    ViewBag.Title = "Details";
}

<div class="container card" id="bookDetails">
    <h5 class="card-title">@Html.DisplayFor(model => model.Book_Title)</h5>
    <hr />
    <span class="col-md-2">
        <img src="@Model.Book_ImageLink" alt="no image" />
    </span>
    <dl class="dl-horizontal col-md-10">
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Author)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Description)
        </dd>

        <dt>
            Pages
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Pages)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Category_Genre)
        </dd>
    </dl>
    <p class="row">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Book_ID }) |
        @Html.ActionLink("Back to List", "Index", "Books", new { userName = User.Identity.Name }, new { @class = "" })
    </p>
</div>
